@charset "utf-8";

html { 
  background: url(bg.jpg) no-repeat center center fixed; 
  background-size: cover;
}

form div{
    
    opacity: 0.;
    color: #FFF;
    float: left;
    padding: 1% 0;
    background-color: #009DFF;
    text-align: center;
    border-radius: 200px;
}
form div{
    opacity: 0.9;
    height: 1.3rem;
    border: 3px solid white;
}
h5{
    padding: 3rem;
}
h2{
    padding: 1rem;
}

form{
    clear: both;
}
footer{
    padding: 2%;
    clear: both;
}
.buttons{
    clear: both;
    margin: 0 auto;
    float: left;
    text-align: center;
    width: 100%;
    color: #FF0000;
}
form img{
    width: 1rem;
}

h1, p, h2, h5{
    opacity: 0.9;
    text-align: center;
    border-radius: 200px;
    background-color: #FFFC00;
    color: #009dff;
    border: 3px solid #FF0000;
}
h1{
    padding: 3rem;
    
    border: 5px solid #FF0000;
}
lable{
    color: #FF0000;
    border-radius: 100px;
    border: 2px solid #FF0000;
    background-color: #FFFC00;
}

input{
    color: #FF0000;
    border-radius: 100px;
    border: 2px solid #FF0000;
    background-color: #FFFC00;
    
}

@media all and (
max-width: 499px) {
    form div{
    width: 100%;
    float: left;
}
}

@media all and (
max-width: 779px) and (min-width: 500px){
    form div{
        width:  calc(50% - 6px);
    float: left;
}
    .col{
        width: calc(100% - 6px);
    }

}

@media all and (min-width: 780px){
    form div{
    width: calc(25% - 6px);
    float: left;
}
    .col {
        width: calc(50% - 6px);
        padding: 5px 0px;
    }
    .buttons{
        width: calc(100% - 6px);
        height: 1.4rem;
    }

}